/* Sección Informes 📌 */
.card_informes {
    min-width: 222px;
    background: var(--color1-cards);
    border-radius: .8rem;
    /* padding: 1rem 2.5rem; */
    padding: 3% 7%;
    overflow: hidden;
}

.titulo_card_informes {
    display: flex;
    justify-content: space-between;
}

.card_informes h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0;
}

.container_porcentajes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
    justify-content: flex-start;
    overflow: scroll;
    scrollbar-width: none;
    padding-top: 1rem;
    width: 95%;
    margin: auto;
}

.label_porcentajes span {
    font-weight: 500;
    display: block;
    font-size: 1rem;
}

.label_porcentajes {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.barras_porcentaje {
    position: relative;
    border: 1px solid var(--color-barras-light);
    background-color: var(--color-barras-light);
    border-radius: 20px;
    margin: .8rem 0;
}

.barras_porcentaje div {
    position: relative;
    width: 0;
    height: .4rem;
    border-radius: 10px;
    background-color: var(--color-barras-deep);
}

#vendedor1 {
    animation: filling_1 2s forwards;
}

@keyframes filling_1 {
    100% {
        width: var(--porcentaje-1);
    }
}

#vendedor2 {
    animation: filling_2 2s forwards;
}

@keyframes filling_2 {
    100% {
        width: var(--porcentaje-2);
    }
}

#vendedor3 {
    animation: filling_3 2s forwards;
}

@keyframes filling_3 {
    100% {
        width: var(--porcentaje-3);
    }
}

#vendedor4 {
    animation: filling_4 2s forwards;
}

@keyframes filling_4 {
    100% {
        width: var(--porcentaje-4);
    }
}