/*
  Distribución de Dasbhoard 📌
*/

.container-dasbhoard {
    display: grid;
    grid-template-rows: 12% 29% 55%;
    width: 90%;
    margin: 5vh auto;
    height: 92vh;
    gap: 3%;
    /* border: 2px solid green; */
    border-top: 2px solid cornflowerblue;
    /* padding: 1rem 1.5rem; */
    padding: 2%;
    min-width: 900px;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .container-dasbhoard {
        width: 97%;
    }
}

.dashb_last-row {
    display: grid;
    /* grid-template-columns: 58% 40%; */
    grid-template-columns: auto auto;
    gap: 2%;
}

.section_products_users {
    display: grid;
    grid-template-rows: 60% 36%;
    gap: 4%;
}