.container_informes {
  /* outline: 1px solid cornflowerblue; */
  height: 85%;
  overflow: scroll;
  scrollbar-width: none;
  /* width: 89%; */
  padding-inline: 0.5%;
  /* padding-block: 1rem; */
  margin-inline: auto;

  & h3 {
    margin-block: .7rem;
    color: var(--color-azul-deep1);
    font-size: 1.23rem;
  }
}

.header_informes {
  /* outline: 1px solid coral; */
  display: flex;
  justify-content: space-between;
  padding: 1% .2%;
  margin-bottom: 1rem;
  align-items: end;
  border-bottom: 1px solid cornflowerblue;

  & h2 {
    color: var(--color-azul-deep2);
    font-size: 1.8rem;
  }
}

.section_selects_fechas {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 35%;
  height: 40px;
  gap: 2rem;

  /* & select:first-child {
    width: 61%;
    height: 100%;
    background: white;
    border: none;
    outline: 1px solid #ccccccd9;
    border-radius: .2rem;
  } */
}

.container_charts_informes {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  /* outline: 1px solid red; */
  margin-bottom: 2rem;
}

.div_chart {
  width: 48%;
  outline: 1.3px solid #ccc;
  padding: 2%;
  /* padding-bottom: 0; */

  & h4 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
  }
}

.container_tabla_informes {
  /* outline: 1px solid red; */
  padding-inline: 1rem;
  margin-bottom: 2rem;
}

.container_promedios_informes {
  outline: 1px solid green;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(30%, 1fr))
  ;
  gap: 1rem;
}

.container_card_promedios {
  outline: 1px solid;
  /* width: 30%; */
  height: 20vh;
  & h4 {
    text-align: center;
  }
  & section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* {
  fk_vendedor: 2,
  alias: 'Vendedor 1',
  n_identificacion: '123456789',
  vendedor: 'Juan Pérez',
  fk_zona_venta: 'ZN02',
  zona: 'Norte',
  ventas_realizadas: 51,
  facturas_saldadas: '46',
  facturas_pendientes: '5',
  total_facturas: '17840966',
  pago_abonos: '16881438',
  saldo_pendiente: '959528'
}, */