.section_modal_user{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  padding: 1.3rem 0;
  /* max-width: 600px; */
  width: 100%;
}



/*Bajar fuente en Selects*/
.p-dropdown .p-dropdown-label {
  font-size: 13px;
}

/* .p-float-label {
  display: initial;
  position: relative;
  background-color: red;
  width: 250px;
  margin: 0;
  padding: 0;
} */