.sheet_pdf {
  background-color: rgb(255, 255, 255);
  min-height: 80vh;
  display: grid;
  grid-template-rows: 15% 10% 15% auto 15%;
  padding: 1rem 2rem;
  width: 100%;
  justify-items: center;
  text-align: center;
  gap: .8rem;
}

.section_datos_cliente_pdf {
  display: flex;
  text-align: justify;
  width: 100%;
  justify-content: space-between;
  font-size: .9rem;

  & p {
    margin-block: .3rem;
  }
}

.sheet_pdf footer {
  text-align: left;
  width: 100%;
  font-size: .9rem;
  & p{
    margin-block: .3rem;
  }
}

.footer_pdf {
  border-top: 1px solid #ccc;
  padding-top: .5rem;
}