.container_view_informes {
  display: grid;
  grid-template-columns: 60% auto;
  /* outline: 1px solid coral; */
  gap: 2rem;
  height: 77vh;
  max-height: 77vh;
  overflow: hidden;

  & h2 {
    color: var(--color-azul-deep1);
  }

  & p {
    margin-block: .3rem;
  }
}

.container_rows_users,
.container_sells {
  background-color: var(--color3-cards);
  border-radius: .8rem;
  padding: 1rem;
  height: 77vh;
}

.container_rows_users header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .8rem;
}

.container_row_cards_information {
  overflow: scroll;
  height: 65vh;
  /* height: 100%; */
  scrollbar-width: none;
  /* outline: 1px solid; */
}

.container_sells {
  display: grid;
  grid-template-rows: 23% auto;
  gap: .7rem;
  position: relative;
  padding-bottom: 2rem;
  
  & header {
    /* outline: 1px solid goldenrod; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & h3 {
      font-weight: 501;
      font-size: 1rem;
    }
  }
}

.div_botones_listar_facturas {
  /* outline: 1px solid red; */
  height: 40px;
  border-radius: .5rem;
  background-color: #ccccccab;
  width: 60%;
  display: flex;
  align-items: center;
  padding: .3rem .4rem;
  gap: .5rem;
}

.botones_listar_facturas {
  height: 90%;
  width: 33%;
  background: transparent;
  border: none;
  margin: auto;
  /* outline: 1px solid snow; */
  border-radius: .3rem;
}

/* .article_modal_informes .p-dialog-header-icons {
  display: none;
} */

/* .section_datos_personales {
  outline: 1px solid;  
} */


/*
  📌Estilos para CardFacturasLista 
*/
.container_listado_facturas {
  overflow: scroll;
  scrollbar-width: none;
  text-align: center;
}

.card_despliegue_facturas {
  outline: 1px solid rgb(154, 150, 149);
  border-radius: .3rem;
  padding: .5rem;
  margin: .5rem;
  list-style:none;
  background: #ffffff36;

  & summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 501;
    user-select: none;
    padding-inline: .5rem;

    & section {
      width: 28%;
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }
}

.tag_estado_factura {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  outline: 1px solid;
}

.footer_text_sells {
  position: absolute;
  bottom: 2px;
  right: 1.5rem;
  font-size: .9rem;
  color: #000000eb;
}

.section_desplegable {
  font-size: .9rem;
  /* outline: 1px solid salmon; */
  padding: .5rem 1rem;
  font-family: 'poppins';
}

.details_datos_cliente {
  display: grid;
  grid-template-columns: 70% auto;
  /* outline: 1px solid greenyellow; */
  text-align: justify;
  gap: .2rem;
  /* border-bottom: 1px solid #ccc; */
  border-block:1px solid #ccc;
  padding-block: .5rem;
}

.details_valores_factura {
  text-align: justify;

  & p:last-child {
    color: rgba(8, 5, 56, 0.763);
    font-weight: 501;
    font-size: 1rem;
  }
}