.section_facturacion_container {
  display: grid;
  grid-template-rows: 8% auto;
  align-items: center;
  padding: .5% 1%;
  height: 100%;
  width: 100%;
  gap: 1.5%;
}

.header_contenido_digitador_container {
  border-bottom: 1px solid #ccc;
  padding: .5%;
  max-height: 100%;

  & h2 {
    margin-top: 0;
  }
}

.header_contenido_digitador_container h2 {
  color: #3e4f6e;
  /* font-weight: lighter; */
  font-size: 1.5rem;
}

.footer_redaccion_container {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 2%;
  border-top: 1px solid #ccc;
  padding-inline: 0.5%;
}

/* 
  Estilos Datos Encabezado Acta 📌
*/

.section_inputs_encabezados {
  display: grid;
  /* grid-template-columns: 45% auto; */
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: 8% 6%;
  /* align-items: center; */
  width: 99%;
  margin: auto;
  padding: 3% 4%;
  background: white;
  border-radius: .8rem;
}

.form_section_datosEncabezado {
  height: 100%;
  display: grid;
  grid-template-rows: 87% 11%;
  align-items: center;
  gap: 2%;
  padding-inline: 1%;
  /* outline: 1px solid salmon; */
}

/* 
  Estilos añadir Decretos 📌 
*/
.container_añadir_decretos {
  /* outline: 1px solid salmon; */
  height: 100%;
  display: grid;
  grid-template-rows: 87% 11%;
  align-items: center;
  gap: 2%;
  overflow: hidden;
  padding-inline: 1%;
}

.article_decretos {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1%;
  height: 100%;
  width: 99%;
  margin: auto;

  & section {
    background-color: #ffffff;
    border-radius: .5rem;
  }
}

.container_select_decretos {
  /* outline: 1px solid; */
  overflow: scroll;
  /* scrollbar-width: none; */
  background-color: #ffffff;
  border-radius: .5rem;
  padding: 6%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.container_show_decreto {
  border-radius: .5rem;
  outline: 1px solid var(--color-orange1);
  min-height: 100px;
  height: 25%;
  padding-inline: 2%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  align-items: center;
  justify-items: center;
  text-align: center;
  user-select: none;
}

.container_show_decreto:hover {
  /* box-shadow: 0 0 4px #E65C19; */
  color: #E65C19;
  color: var(--color-orange);
}

.section_botones_decretos {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid; */
  border-radius: .3rem;
  background: #cccccc6b;
  width: 55%;
  height: 55%;

  & button {
    color: rgb(53, 51, 51);
    font-weight: 601;
    border: none;
    cursor: pointer;
    height: 50%;
    background: transparent;
  }

  & button:first-child {
    border-bottom: 1px solid var(--color-azul-deep2);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }

  & button:last-child {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }

  & button:active {
    background: #ccc;
  }

  & button:hover {
    background: var(--color-azul-deep2);
    color: white;
  }
}

.container_decretos_editar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  /* justify-content: center; */
  overflow: scroll;
  /* scrollbar-width: none; */
  padding: 3% 2%;
}

.container_decreto_inputs {
  outline: 1px solid var(--color-azul-deep2);
  border-radius: .8rem;
  padding: 2%;
  text-align: justify;
}

.titulo_card_decreto {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5%;
}

.input_decreto {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--color-orange);
  font-weight: 501;
  /* max-width: fit-content; */
  /* min-width: 160px; */
  /* width: auto; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* text-align: center; */
}

.input_decreto:focus-visible {
  outline: none;
  border-color: #74da9a;
}

/* .input_decreto::-webkit-inner-spin-button,
.input_decreto::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  margin: 0;
} */

.cont_info_digitar_decreto {
  outline: 1px solid var(--color-azul-deep2);
  width: 95%;
  height: 95%;
  border-radius: .8rem;
  margin: auto;
  padding: 2%;

  & h4 {
    margin-inline: 3%;
  }

  & p {
    font-size: .9rem;
    color: #3e4f6e;
    text-indent: 1%;
    margin-block: 1.5%;
  }
}

/* 
  Estilos previsualizacion de Acta 📌 
*/
.container_factura_pdf {
  display: grid;
  grid-template-columns: 70% auto;
  height: 100%;
  overflow: hidden;
}

.container_prev_pdf {
  outline: 1px solid #c9c9c9;
  outline: 1px solid var(--color-azul-deep2);
  overflow: scroll;
  height: 99%;
  width: 98%;
  padding: 1%;
  margin: auto;
  border-radius: .3rem;
}

.aside_acciones_pdf {
  display: grid;
  grid-template-rows: repeat(2, 1fr) 80px 60px;
  justify-items: center;
  align-items: end;
  text-align: center;
  padding-inline: 1%;
  /* padding-block: .5rem; */
}

.aside_acciones_pdf section:first-child h4 {
  margin-block: .6rem;
}

.section_imprimir {
  width: 90%;
  border-bottom: 1px solid #ccc;
  align-self: end;
}

.pdf_button,
.word_button {
  background: transparent;
  border: none;
  border-radius: .5rem;
  padding: .8rem;
  cursor: pointer;
}

.pdf_button {
  outline: 1px solid #FA5252;
  /* background-color: #cccccc62; */
  /* cursor: not-allowed; */
  min-width: 86.6px;
  min-height: 83px;
}

.pdf_button_active:active {
  box-shadow: 0 0 4px #FA5252;
}

.pdf_button_active:hover {
  background-color: #FA52521F;
}

.word_button {
  outline: 1px solid #4881ea;
}

.word_button_active:active {
  box-shadow: 0 0 4px #4881ea;
}

.word_button_active:hover {
  background-color: #4881ea25;
}

.section_descargar_word h4 {
  margin-block: .6rem;
}

.section_warning {
  color: red;
  font-size: .8rem;
  padding: 2% 5%;
  text-align: justify;
  /* outline: 1px solid; */
  /* width: 85%; */
  margin-inline: auto;
}
/*
  Documento de previsualizacion📌
*/

.container_prev_acta {
  background-color: white;
  padding: 2% 5%;
}

.p_decretos {
  width: 95%;
  margin-inline: auto;
  margin-block: 5%;
  text-align: justify;
  line-height: 1.5;
  text-wrap: wrap;
}