/* Sección de Cards Información 📌 */
.dashb_section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--color1-cards);
    justify-items: center;
}

/* .card_information:nth-child(2) {
    border-inline: 1px solid #ccc;
    } */

.card_information {
    border-radius: .8rem;
    background: var(--color1-cards);
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-rows: 35% 45% 14%;
    gap: 3%;
    justify-items: center;
    padding: 1% 5%;
}

.card_section_1,
.card_section_2 {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 80%;
}

.tag_card_information {
    width: 37px;
    height: 18px;
    background-color: yellow;
    border-radius: .3rem;
    margin-left: auto;
    font-size: 0.6rem;
    text-align: center;
    padding: 4px;
    font-weight: 501;
}

.card_section_2 {
    justify-content: space-between;
    /* padding-left: 18%; */
    padding-right: 4%;
}

.container_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_section_1 h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card_section_2 span {
    font-size: 2.7rem;
    width: 50px;
    text-align: center;
    font-weight: 500;
}

.container_redirigir {
    cursor: pointer;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: none;
    border: none;
    outline: 1px solid var(--color-azul-light1);
}

.container_redirigir:hover {
    border: 1px solid var(--color-barras-deep);
}

.linea_bottom {
    /* background: #8AB7D7; */
    border-radius: .6rem;
    width: 80%;
    height: 50%;
}

/* {
    fk_vendedor: 2,
    alias: 'Vendedor 1',
    n_identificacion: '123456789',
    vendedor: 'Juan Pérez',
    fk_zona_venta: 'ZN02',
    zona: 'Norte',
    ventas_realizadas: 45,
    facturas_saldadas: '41',
    facturas_pendientes: '4',
    total_facturas: '17536245',
    pago_abonos: '16684193',
    saldo_pendiente: '852052' 
    */