.main_vendedor {
  display: grid;
  grid-template-columns: 23% auto;
  grid-template-rows: 89vh;
  padding: 1rem;
  width: 90%;
  margin: 3vh auto;
  height: 94vh;
  justify-items: center;
  align-items: center;
  border-bottom: 1.3px solid #12ABED;
  gap: 1.5rem;
  /* outline:1px solid rgba(220, 20, 60, 0.341); */
}

.banner_informacion {
  display: grid;
  grid-template-rows: 40% auto 15%;
  /* justify-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  background: var(--color1-cards);
  height: 100%;
  width: 100%;
  border-radius: .8rem;
}

.banner_perfil,
.banner_datos_usuario,
.banner_logout {
  /* outline:1px solid rgba(83, 20, 220, 0.341); */
  width: 100%;
  height: 100%;
  padding: 1.4rem;
}

.banner_perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.banner_perfil span {
  font-size: 2rem;
  font-weight: 500;
}

.banner_datos_usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1.4rem 1rem; */
  /* width: 75%; */
  padding-left: 3.5rem;
  margin: auto;
}

.banner_datos_usuario p {
  font-size: 1rem;
  margin-top: 0px;
}

.banner_datos_usuario p b {
  width: 45%;
  display: inline-block;
  /* background-color: #12ABED; */
}

.banner_logout {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 2rem;

}

.container_facturacion {
  display: grid;
  grid-template-rows: 12% auto;
  gap: 1%;
  width: 100%;
  height: 100%;
  /* outline:1px solid rgba(220, 20, 60, 0.341); */
}

.header_facturacion {
  display: grid;
  grid-template-columns: 35% auto;
  /* align-items: center; */
  padding-inline: .5rem;
  color: var(--color-azul-deep2);
  /* justify-items: center; */
  /* outline:1px solid rgba(220, 20, 60, 0.341); */
}

.header_title {
  font-size: 2rem;
  font-weight: bold;
}

.section_steps {
  /* outline:1px solid rgba(220, 20, 60, 0.341); */
  height: 100%;
  width: 100%;
  /* border-radius: .8rem; */
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding-block: 0.6rem;
  user-select: none;
}

.section_steps section {
  /* outline: 1px solid; */
  position: relative;
  display: flex;
  justify-content: center;
}

.section_steps section p {
  margin: 0;
  font-size: .7rem;
  position: absolute;
  bottom: -1.3rem;
}

.section_steps div {
  border-radius: 50%;
  outline: 1.6px solid;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
}

.inactive_step {
  background-color: var(--color-barras-deep);
  color: white;
}

.active_step {
  background-color: white;
  color: var(--color-barras-deep);
  outline-color: currentColor;
  font-weight: 501;
  font-size: 1.1rem;
}

.section_steps span {
  border-bottom: 2px solid var(--color-barras-deep);
  width: 15vw;
}


.facturacion_card,
.main_ventas {
  /* outline:1px solid rgba(220, 20, 60, 0.341); */
  background: var(--color2-cards);
  border-radius: .8rem;
  padding: .5rem;
  height: 100%;
  overflow: auto;
}

.main_ventas {
  display: grid;
  grid-template-rows: 15% auto;
  padding: 1rem 2rem;
  align-items: baseline;
}

.main_ventas_header{
  border-bottom: 1px solid #ccc;
  padding: .5rem;
  color: var(--color-azul-deep1);
  font-size: 1.5rem;
  
  & h3 {
    font-weight: 500;
  }
}

.container_botones_ventas {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  width: 95%;
}

.section_tabla_ventas {
  height: 100%;
  border-bottom: 1.5px solid #ccc;
}

/* .p-button.p-button-info outline{
  background-color: var(--color-azul-deep2);
} */