@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("config.css");

.contlog {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  gap: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contlogcard {
  width: 18%;
  height: 50%;
  /* border: 2px solid black; */
  border-radius: 25px;
}

.contlogin {
  display: flex;
  padding: 0 25px;
  align-items: center;
  flex-direction: column;
  background-color: var(--color1-cards);
  z-index: 2;
  gap: 20px;
  width: 23%;
  height: 60vh;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    height: 30%;
    width: 100%;
    margin-top: 10px;
  }

  /* & button {
    width: 160px;
    height: 50px;
    background-color: var(--color-azul-deep2);
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
  } */
}

.divinputlogin {
  width: 250px;
  height: 60px;
  padding: 0 0 0 5%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;

  & img {
    width: 13%;
    height: 100%;
  }

  & input {
    border-style: none;
    outline: gray;
    width: 87%;
    height: 100%;
    padding-left: 10px;
    font-size: 1.2rem;
  }
}

.inputlog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  height: 30%;
  margin-bottom: 10px;

  & ::placeholder {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 300;
  }
}

.contview {
  background-color: var(--color-azul-deep1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  width: 23%;
  height: 60vh;

  & div {
    margin-top: 55px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;

    & img {
      height: 80px;
      width: 80px;
      /* border: 1px solid black; */
    }
  }

  & h1 {
    color: #fff;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    /* border: 1px solid black; */

  }

  & h2 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    /* border: 1px solid black; */
  }
}
