.container_login {
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont_login {
  background-color: var(--color1-cards);
  border-radius: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  width: 60%;
  height: 55vh;
  padding: 2%;
}

.cont_login_texto {
  width: 48%;
  display: flex;
  gap: 5%;
  height: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #ccc;
  font-family: sans-serif;
  color: #3e4f6e;
  
  & h3 {
    font-size: 2.2rem;
    font-optical-sizing: auto;
    text-align: center;
    
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  & h4 {
    color: #31363fea;
    font-size: 1.1rem;
  }
}

.input_log {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.3rem;
  width: 48%;
  height: 80%;
}

@media (max-width: 700px) {
  .cont_login {
    flex-direction: column;
    width: 90%;
    height: 60vh;
    gap: 0;
  }

  .cont_login_texto {
    border-right: none;
    width: 90%;

    & h4 {
      display: none;
    }
  }

  .input_log {
    width: 90%;
  }
}