.container_row_card {
  position: relative;
  display: grid;
  grid-template-columns: 18% auto 20%;
  align-items: center;
  padding: 3% 2%;
  border-bottom: 1.6px solid #2b4ea3;
  scrollbar-width: none;
  cursor: pointer;
}

.container_row_card:hover{
  background-color: #DFE8F4;
}

.row_selected {
  background-color: #ffffff85;
  background-color: #DFE8F4;
}

.section_datos_personales p{
  font-size: .9rem;
}

.section_datos_personales span {
  display: block;
  margin-block: 1%;
}